openapi: 3.0.0
info:
  title: ATS Auth API
  description: This API provides authentication for ATS Healthcare B2B services.
  version: 1.0.0
servers:
  - url: https://login-b2b-ats-healthcare.us.auth0.com
    description: Auth0 domain for ATS Healthcare
paths:
  /oauth/token:
    post:
      summary: Generate Token
      description: Request an access token using client credentials.
      operationId: generate-token
      tags:
        - Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - client_id
                - client_secret
                - audience
                - grant_type
              properties:
                client_id:
                  type: string
                  description: The client ID provided by ATS.
                client_secret:
                  type: string
                  description: The client secret provided by ATS.
                audience:
                  type: string
                  description: The audience for the token.
                  example: https://test.api.ats.healthcare
                grant_type:
                  type: string
                  description: The grant type, which should be `client_credentials`.
                  example: client_credentials
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: The access token.
                    example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkJCT2pNMGZTNTBhdHVyVHBqMUpPbyJ9.eyJvcmdhbml6YXRpb25JZCI6IjUiLCJhY2NvdW50SWQiOiI2IiwiYXBwX2dyb3VwcyI6WyJXaW5lU2hpcHBlcl9DdXN0b21lcl9TaGlwcGVyIl0sImNpZCI6IlV4YWlzV0ZLSkxxxzN5QU9HOVFTMWlyNTczOGJkdERpIiwiaXNzIjoiaHR0cHM6Ly9sb2dpbi1iMmItYXRzLWhlYWx0aGNhcmUudXMuYXV0aDAuY29tLyIsInN1YiI6IlV4YWlzV0ZLSkx1bzN5QU9HOVFTMWlyNTczOGJkdERpQGNsaWVudHMiLCJhdWQiOiJodHRwczovL3Rlc3QxxXBpLmF0cy5oZWFsdGhjYXJlIiwiaWF0IjoxNzE5NTE1MjkxLCJleHAiOjE3MTk2MDE2OTEsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyIsImF6cCI6IlV4YWlzV0ZLSkx1bzN5QU9HOVFTMWlyNTczOGJkdERpIn0.kYXezF8MgtTL1G-iqgXp6tReVKLtp2bFVmBrSTqLRbxxDiz9HfunXcIhB3Y7Eja3hUze7IUgWAd-Yw6klj11gromy5Yn57_VpT3Kt2awZu2LEhZN8uCkR0gHN-kfvHNZs0oHEUTfFZqrpIxxZyg020pKYOpHUZxxZ86m_UeV2rlpj_Hd8G6Bk1JKSZQO3G4T5k9j4XuEqfTSa5QvG2GeqFQgWUWI7cIdlXnnKz7fxUrhMsQhLSQcLz_vtvwXlZc5msOB81vWWhC95XwGxxbau2nPJzAVI8KMzj1zQqjPzAJ9GRdCZFaE-Q7Tcaqvqho6ndoKigj35lIt8i7-bZ3LBg
                  expires_in:
                    type: integer
                    description: The duration in seconds for which the token is valid.
                    example: 86400
                  token_type:
                    type: string
                    description: The type of token.
                    example: Bearer
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized request. Invalid client credentials.
